#title-input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #e3e3e3;
    box-sizing: border-box;
    font-size: 14px;
}
#title-input:focus {
    outline: 1px #aaa solid;
}

#content {
    background-color: #eaeaea;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

#content-input {
    min-height: 250px;
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
}
#content-input:focus {
    outline: none;
}
#content-input:empty::before {
    content: "내용을 입력해주세요.";
    color: #777;
    margin-top: 10px;
}

#submit {
    width: 100px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #ccc;
    cursor: pointer;
}
#submit:focus {
    outline: 1px solid #777;
}