<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babvel 글쓰기</title>
</head>
<body>
    <div id="title">
        <input type="text" id="title-input" placeholder="title">
    </div>
    <div id="content">
        <textarea id="content-input"></textarea>
    </div>
    <button id="submit">제출!</button>
    
    <script src="/js/fetch.js"></script>
    <script src="/js/write.js"></script>
</body>
</html>